# Archivos y carpetas de Android Studio
*.iml
.gradle/
local.properties
/.idea/
/.idea/*
!.idea/codeStyles
.DS_Store

# Compilación
/build/
.cxx/
.externalNativeBuild/
captures/

# Configuraciones de sistema
/local.properties
Thumbs.db

# Ignorar archivos de perfil de inspección (no necesarios)
.idea/inspectionProfiles/

# Archivos temporales o de cache
*.log
*.tmp
*.cache

